</br>
</br></br>
<h1 style="color :#646B73; font-family: zerif;margin-left:10px"><span class="glyphicon glyphicon-pencil"  style="width=20px;height:20px;font-size : 24px;padding: 0px 8px;"></span>Editing students</h1>



  
<%= render 'form' %>


<%= link_to 'Show', @student ,class:"btn btn-success",style:"margin-left:372px;margin-top:-110px;width:121px;"%> 
<%= link_to 'Back', students_path ,class:"btn btn-warning" ,style:"width:121px;margin-top:-110px;margin-left:8px;"%>
